#game-container {
    position: absolute;
    width: 600px;
    height: 600px;
    text-align: center;
}

#game-text {
    height: 300px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto;
}

#user-input {

}

#submit-button {
    margin-top: 10px;
    position: absolute;
}

#background-container {
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
}
